*{
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(90deg, rgb(151, 18, 18), rgb(20, 20, 20), rgb(20, 20, 20));
    color: white;
}

h1{ font-size: 2.5em; }
h2{ font-size: 2em }
h3{ font-size: 1.5em; }
p{ font-size: 1.1em; }
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: brown;
    cursor: pointer;
    transition: background-color .3s;
}

button:hover{
    background-color: rgb(104, 22, 22);
}

header nav button{
    font-size: 1em;
    padding: 10px 20px;
    background: linear-gradient(45deg, brown, rgb(107, 24, 24));
    margin-left: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

header nav button:hover {
    transform: scale(1.03); /* Hacer el botón un poco más grande al hacer hover */
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: rgb(15, 15, 15, 0.0);
}

header .logo{
    margin: 0;
    padding: 15px 5px 5px;
    font-weight: bold;
    color: brown;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover{
    color: brown;
    transition: 0.2s;
}

header nav a{
    margin: 10px 12px;
}

#hero{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
}


#hero video{
    width: 85vw;
    max-width: 900px;
}

#hero form button {
    width: 85vw;
    max-width: 900px;
    font-size: 1.2em
}

.hero-element{
    margin: 3vh 0px;
}

#hero h1{
    margin-left: 12px;
    margin-right: 12px;
}

#hero p{
    margin-left: 12px;
    margin-right: 12px;
}

#acerca-Agera .container{
    text-align: center;
    padding: 0vh 12px 5vh;
}

#acerca-Agera .container p{
    margin: 40px 12px 10px;
}

footer {
    text-align: center;
    padding: 50px 0px 30px 0px;
    background-color: rgb(20, 20, 20, 0);
}

footer p{
    font-size: 0.9em;
}

.img-container{
    margin: 50px 12px;
}

.img-container img{
    transition: transform 0.3s ease;
}

.img-container img:hover{
    transform: scale(1.03);
}

@media (min-width: 720px){
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero{
        height: 90vh;
    }

    #acerca-Agera .container{
        padding: 0px 12px 100px;
        flex-direction: row;
    }

    .img-container img{
        width: 300px;
    }


}